<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARK_ptZEQNpVMf51vmyLzHxB-cgdoXqSs</string>
	<key>GCM_SENDER_ID</key>
	<string>434163240515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tezda</string>
	<key>PROJECT_ID</key>
	<string>tezda-3e7cd</string>
	<key>STORAGE_BUCKET</key>
	<string>tezda-3e7cd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434163240515:ios:dc93ffb6168c307cb44ef6</string>
</dict>
</plist>